#define RC_BACKGROUND 1
RC_BACKGROUND BITMAP "res/background.bmp"
#define RC_PLAYER1 2
RC_PLAYER1 BITMAP "res/bluePlayer.bmp"
#define RC_PLAYER2 3
RC_PLAYER2 BITMAP "res/redPlayer.bmp"
#define RC_BULLET 114
RC_BULLET  BITMAP "res/bullet.bmp"
